@media screen and (max-width: 600px){
    header h1{
        font-size: 2rem;
    }
    nav .container{
        background-color: transparent !important;
        padding-left: 0;
        padding-right: 0;
    }
    nav ul{
        background-color: #3b3b3b !important;
        text-align: center;
        margin-top: 15px;
    }
    #Services .inner{
        max-width: 390px;
        margin: 0 auto;
    }
    #Testimonial figure{
        text-align: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 967px){
    #Testimonial .slider{
        width: 100%;
    }
}
